In [1]:
import pandas as pd

In [9]:
prices = pd.read_csv('prices.log', header=None, names=["Price", "Timestamp"])
predictions = pd.read_csv('predictions.log', header=None, names=["Price", "Timestamp"])

In [10]:
prices

       Price                    Timestamp
0    3287.45  2025-01-24T20:09:55.0000000
1    3287.69  2025-01-24T20:09:40.0000000
2    3288.44  2025-01-24T20:09:24.0000000
3    3288.19  2025-01-24T20:09:09.0000000
4    3288.45  2025-01-24T20:08:54.0000000
..       ...                          ...
245  3295.50  2025-01-24T21:10:17.0000000
246  3297.12  2025-01-24T21:10:02.0000000
247  3297.37  2025-01-24T21:09:47.0000000
248  3296.42  2025-01-24T21:09:32.0000000
249  3296.76  2025-01-24T21:09:17.0000000

[250 rows x 2 columns]

In [11]:
predictions

      Price                          Timestamp
0   3287.08  2025-01-24T20:11:14.2426974-05:00
1   3280.84  2025-01-24T20:13:46.6726786-05:00
2   3285.54  2025-01-24T20:16:19.1042114-05:00
3   3289.05  2025-01-24T20:18:51.4905568-05:00
4   3295.41  2025-01-24T20:21:23.8097816-05:00
5   3292.01  2025-01-24T20:23:56.4257861-05:00
6   3299.53  2025-01-24T20:26:32.0611807-05:00
7   3301.08  2025-01-24T20:29:08.2754847-05:00
8   3298.10  2025-01-24T20:31:44.7123940-05:00
9   3303.57  2025-01-24T20:34:21.3840573-05:00
10  3302.88  2025-01-24T20:36:58.8688183-05:00
11  3302.13  2025-01-24T20:39:37.9645076-05:00
12  3299.49  2025-01-24T20:42:11.9445938-05:00
13  3302.71  2025-01-24T20:44:50.7942522-05:00
14  3298.27  2025-01-24T20:47:23.0444796-05:00
15  3296.42  2025-01-24T20:49:56.0877189-05:00
16  3296.56  2025-01-24T20:52:28.3233243-05:00
17  3297.91  2025-01-24T20:55:00.1891809-05:00
18  3293.52  2025-01-24T20:57:32.2192741-05:00
19  3294.30  2025-01-24T21:00:05.5104946-05:00
20  3292.65  2025-01-24T21:02:39.1437660-05:00
21  3292.02  2025-01-24T21:05:11.9721635-05:00
22  3291.17  2025-01-24T21:07:45.2876370-05:00
23  3294.16  2025-01-24T21:10:18.2387208-05:00
24  3295.45  2025-01-24T21:12:50.5654198-05:00

In [19]:
# Assuming df_real and df_pred are the two DataFrames with real and predicted prices
prices['Timestamp'] = pd.to_datetime(prices['Timestamp']).dt.tz_convert ('EST')
predictions['Timestamp'] = pd.to_datetime(predictions['Timestamp']).dt.tz_convert ('EST')

# Sort both DataFrames by Timestamp
prices = prices.sort_values('Timestamp')
predictions = predictions.sort_values('Timestamp')

# Perform the merge with a 2-second tolerance
merged_df = pd.merge_asof(
    prices,
    predictions,
    on='Timestamp',
    tolerance=pd.Timedelta(seconds=2),
    direction='nearest',  # Options: 'backward', 'forward', 'nearest'
    suffixes=('_real', '_pred')
)

# Display the merged DataFrame
merged_df = merged_df.dropna()

     Price_real                 Timestamp  Price_pred
34      3288.60 2025-01-24 20:16:18-05:00     3285.54
44      3293.14 2025-01-24 20:18:50-05:00     3289.05
64      3298.84 2025-01-24 20:23:55-05:00     3292.01
74      3300.10 2025-01-24 20:26:32-05:00     3299.53
84      3299.71 2025-01-24 20:29:08-05:00     3301.08
94      3303.87 2025-01-24 20:31:43-05:00     3298.10
104     3303.80 2025-01-24 20:34:20-05:00     3303.57
114     3304.89 2025-01-24 20:36:57-05:00     3302.88
134     3301.38 2025-01-24 20:42:11-05:00     3299.49
144     3302.82 2025-01-24 20:44:49-05:00     3302.71
174     3300.29 2025-01-24 20:52:28-05:00     3296.56
184     3293.61 2025-01-24 20:55:00-05:00     3297.91
194     3294.27 2025-01-24 20:57:31-05:00     3293.52
204     3293.46 2025-01-24 21:00:04-05:00     3294.30
224     3293.47 2025-01-24 21:05:10-05:00     3292.02
234     3294.14 2025-01-24 21:07:44-05:00     3291.17
244     3295.50 2025-01-24 21:10:17-05:00     3294.16